main{
    margin: 67px 20px 100px 30px;
}
.content-wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

.item-content{
    display: flex;
    flex-direction: column;
    margin: 15px 15px 15px 0;
    background-color: transparent;
    border-radius: 25px;

}
.content-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #9FA8DA;
    border-radius: 10px;
    margin: 0 15px 0 15px;
}
.content-top h4{
    margin: 15px;
}
.content-top-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-size: 17px;
}
.content-top-right h4{
    padding: 10px 15px;
    margin: 0px;
    
}
.content-top-right button{
    padding: 0;
    border: none;
    background-color: transparent;
    margin-right: 10px;
    cursor: pointer;
}

.content-bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.content-bottom button{
    background-color: #C5CAE9;
    border: none;
    border-radius: 20px;
    font-size: 17px;

    width: 95%;
    height: 40px;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    

    cursor: pointer;

    
}
.content-bottom button span{
    margin-right: 5px;
}


@media only screen and (max-width: 768px) {
    main {
        margin: 30px 10px; /* Adjusted margins for better spacing on mobile */
    }

    .content-wrapper {
        grid-template-columns: 100%;
        margin-top: 70px; /* Two columns on mobile for better readability */
    }

    .item-content {
        margin: 0; /* Removed right margin to prevent overflow on small screens */
    }

    .content-top {
        display: flex;
        flex-direction: column; /* Stacked layout for better display on small screens */
        margin: 0 10px; /* Adjusted margins for better spacing on mobile */
    }

    .content-top h4 {
        margin: 10px; /* Reduced margin for better spacing on mobile */
    }

    .content-top-right {
        display: flex;
        justify-content: space-between; /* Improved alignment for small screens */
        font-size: 14px; /* Reduced font size for better readability on mobile */
    }

    .content-top-right h4 {
        padding: 5px 10px; /* Reduced padding for better spacing on mobile */
        margin: 0; /* Removed margin to optimize space */
    }

    .content-bottom {
        flex-direction: column; /* Stacked layout for better display on small screens */
        align-items: center; /* Center align buttons */
    }

    .content-bottom button {
        font-size: 14px; /* Reduced font size for better readability on mobile */
        width: 95%; /* Adjusted width for better fit on small screens */
        margin: 10px 0px; /* Adjusted margin for better spacing on mobile */
    }
}
